$color_1: midnightblue;
$color_2: rgb(77, 0, 15);
$color_3: rgb(40, 1, 68);
$color_4: rgb(83, 5, 155);
$color_5: rgb(146, 2, 86);
$color_6: black;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: rgb(255, 197, 215);
$background-color_2: rgb(252, 76, 252);
$background-color_3: rgb(252, 140, 252);
$background-color_4: rgb(182, 127, 138);